<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assests/guideline.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h4>Vote Dapp</h4>
            </div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/instruction">Instructions</a></li>
                <!-- <li><a href="/Cate-Vote.html">Cast Vote</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="left">
                <div class="content">
                    <h2>Guidelines</h2>
                        <p>These are few Guidelines for user</p>
                        <h3>1. Voter Verification</h3>
                        <ul type='disc'>
                            <li>for casting the vote user needs to first verify himself.</li>
                            <li>For Verification, the user will have to enter his Name and Voter ID will be using for voting purpose</li>
                            <li>At the first Stage the user's age will be checked . If the user is 18 or above 18 years of age then only he is eligible to vote.</li>
                        </ul>
                        <h3>2. Voting Process</h3>
                        <ol type="1">
                            <li>Install MetaMask Browser Extension.</li>
                            <li>Make sure that the Ethereum Account which you've been assigned is imported into MetaMask.</li>
                            <li>Click on Cast Vote  and cast your vote</li>
                        </ol>
                        <a href="castVote">Cast Vote</a>
                </div>
            </div>

            <div class="right">
                <img class="img" src="assests/guideline.svg" alt="Guidelines">
            </div>
        </div>
    </main>
</body>
</html>